[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nameparser = "*"
unidecode = "*"
notebook = "*"
pandas = "*"
matplotlib = "*"
"beautifulsoup4" = "*"

[dev-packages]

[requires]
python_version = "3.7.9"
